* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative
}

#root,
.App,
body,
html {
    width: 100%;
    height: 100%
}

header {
    height: 67px;
    transition: .6s ease-in-out;
    animation: scroll .5s linear
}

header,
nav {
    width: 100%
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 9999999999;
    background: #fff
}

header.sticky {
    position: fixed;
    top: 0;
    z-index: 99999;
    box-shadow: 1px 1px 1px 1px #f6f0e7;
    animation: scroll .5s linear forwards
}

@keyframes scroll {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0)
    }
}

.title {
    width: 130px;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    cursor: pointer;
    margin: auto;
    align-items: center
}

.title p {
    font-size: 16px;
    transition: .6s ease-in-out
}

.logo {
    width: 60px;
    height: 60px;
    padding: 5px;
    overflow: hidden;
    transition: .6s ease-in-out
}

.logo img {
    width: 100%;
    transition: .6s ease-in-out
}

.title:hover .logo img {
    mix-blend-mode: difference;
    transform: scale(.8)
}

.list {
    cursor: pointer
}

main {
    width: 100%;
    height: 89vh;
    transition: .5s ease-in-out;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .57), rgba(0, 0, 0, .5)), url(../assets/images/quran.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column
}

.main,
main {
    display: flex;
    justify-content: center;
    align-items: center
}

.main {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    color: #fff
}

.search__box {
    direction: rtl;
    width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    background: #fff;
    height: 50px;
    border-radius: 300px;
    cursor: pointer;
    padding: 6px 20px
}

.search__box svg {
    fill: grey;
    height: 100%;
    display: flex;
    font-size: 20px;
    align-items: end;
    justify-content: center;
    width: 23px
}

.search__box p {
    color: #000;
    padding: 0;
    margin: 0 10px 0 0
}

form.search__form {
    width: 600px;
    min-height: 156px;
    direction: rtl;
    background: #1f2125;
    padding: 10px;
    border-radius: 7px;
    position: absolute;
    transition: .5s all;
    transform: scale(0);
    pointer-events: none
}

form.search__form.active {
    transform: scale(1);
    pointer-events: auto
}

.input__field label {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center
}

.input__field {
    width: 100%;
    min-height: 41px;
    display: flex;
    justify-content: space-evenly;
    direction: rtl;
    align-items: center;
    border-bottom: .5px solid #fff
}

input#search {
    width: calc(100% - 100px);
    background: 0 0;
    border: none;
    padding: 16px 6px;
    color: #fff;
    outline: 0;
    font-size: 16px
}

.input__field label {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    color: grey
}

label.search__by__mic {
    cursor: pointer;
    pointer-events: auto;
    color: #fff;
    transition: .5s ease-in-out;
    width: 3.1em;
    display: flex;
    justify-content: center;
    align-items: center
}

.input__field input::placeHolder {
    color: rgb(179 179 179);
    font-weight: 800;
    font-size: 16px
}

.jss154 {
    margin: 4px;
    padding: 8px 16px;
    box-sizing: content-box;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(0, 0, 0, .87);
    cursor: pointer;
    width: 1em;
    display: flex;
    justify-content: center;
    align-items: center
}

.search__by__mic:hover {
    padding: 2px 4px;
    background-color: rgba(0, 0, 0, .87);
    border-radius: 4px
}

.Dictaphone {
    margin: 5px auto;
    width: 150px;
    direction: ltr
}

.main strong {
    font-family: system-ui
}

@media (max-width:600px) {

    .search__box,
    form.search__form {
        width: 90%;
        font-size: 13px
    }
}

@media (max-width:340px) {

    .search__box,
    form.search__form {
        width: 100%;
        font-size: 10px
    }

    input#search {
        font-size: 13px
    }

    .input__field input::placeHolder {
        font-weight: 600;
        font-size: 12px
    }
}

.searched {
    position: absolute;
    background: #000;
    width: 100%;
    z-index: 9999;
    padding: 10px;
    right: 0;
    border-radius: 5px;
    transform: translateY(7px);
    height: 248px;
    overflow-y: scroll
}

.searched>div {
    cursor: pointer
}

section.reciters__column {
    transition: .5s ease-in-out;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px 12px
}

.reciter {
    transition: .5s ease-in-out;
    width: 200px;
    height: 92px;
    direction: rtl;
    padding: 8px;
    text-align: center;
    background: #6b63f8;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transform: scale(1);
    text-decoration: none
}

.reciter:hover {
    background-color: #000000de
}

.reciter p {
    margin: 2px 0;
    padding: 2px 0
}

.reciters__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0
}

.reciters__container button {
    padding: 15px 30px;
    white-space: nowrap;
    font-family: "Questrial Bold", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;
    color: #fff;
    background-color: #000000de;
    border-radius: 5px;
    margin: 15px 0
}

.reciters__container button:hover {
    transform: scale(.8)
}

.reciter.active {
    animation: scrolll .5s linear forwards
}

@keyframes scrolll {
    0% {
        width: 200px;
        height: 92px;
        padding: 8px
    }

    100% {
        width: 0;
        height: 0;
        padding: 0
    }
}

.searched>a {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: .5s ease-in-out;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff
}

.searched>a:hover {
    background-color: grey
}

a {
    text-decoration: none
}

a.title {
    color: #000
}

.reciter__suras {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px 10px;
    padding: 19px 0;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 10px 0 80px
}

.sora-item {
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 8px 0 hsl(0deg 0% 64% / 19%);
    border-radius: 10px;
    display: flex;
    width: min(100%, 390px);
    direction: rtl;
    height: min(52px, 89px);
    align-items: center;
    margin: 2px;
    cursor: pointer;
    padding: .5rem;
    margin-bottom: .75rem
}

.sora-item span {
    padding: .5rem;
    margin: 0 3px
}

.played__sura {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 grey;
    z-index: 9999999999999999999999999999;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.reciter__data {
    width: 250px;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px auto;
    padding: 10px;
    border-bottom: .5px solid grey;
    text-align: center
}

.reciter__data p {
    margin: 2px 0
}

.sora-item span:first-child {
    width: 80px;
    display: inline-block
}

.played__sura span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px
}

.play__progress audio {
    position: absolute;
    pointer-events: none
}

.suras__container {
    width: 100%;
    transition: .2s ease-in-out;
    overflow: hidden
}

.suras__container.active {
    animation: stragged .2s linear
}

.sora-item:nth-child(2n).show {
    animation: stragged0 .6s linear
}

.sora-item.show {
    animation-delay: calc(.1s * var(--i))
}

.reciter__data.active {
    animation: stragged3 .6s linear
}

.sora-item.show {
    animation: stragged2 .6s linear;
    animation-delay: calc(.2.5s * var(--i))
}

.played__sura.active {
    animation: stragged4 .6s linear
}

@keyframes stragged2 {
    0% {
        transform: translateX(-190%)
    }

    25% {
        transform: translateX(-190%)
    }

    50% {
        opacity: .5
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes stragged0 {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(190%)
    }

    50% {
        opacity: .5
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes stragged3 {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(-190%)
    }

    50% {
        opacity: .5
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes stragged4 {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(190%)
    }

    50% {
        opacity: .5
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

body {
    overflow-x: hidden
}

span.play__progress {
    width: 80%;
    border-radius: 5px;
    cursor: pointer;
    height: 1.1px
}

input[type=range] {
    width: 100%;
    height: 1px;
    cursor: pointer
}

span.progress__bar {
    position: absolute;
    left: 0;
    background: red;
    width: 148px;
    height: 100%;
    transition: .5s ease-in-out;
    border-radius: 30px
}